body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.75em;
}
footer ul li {
    font-size: 2.0em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #000000;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 4.0em;
}

ul.posts li {
    list-style: none;
}

#contactSocial{
    padding-bottom: 1%;
}

figure {
  display: inline;
  border:1px solid grey;
  position: relative;
}

figure a {
  display: block;
}

figure:hover:before {
  content: '';
  background: rgba(255,0,0,0.25);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

figcaption {
  position: absolute;
  height:50px;
  width:100%;
  line-height:50px;
  background-color: grey;
  bottom:-50px;
  transition: bottom 0.5s ease;
}

figure:hover figcaption {
  bottom:0;
}

.contactSize{
    width: 10%;
    height: 15%;
    padding: 5%;
    float: left;
    margin: 0;
}